@import './mixins.scss';

.login-container{
    background: #833ab4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;
    padding: 15px;
    
    .login{
        flex-flow: column nowrap;
        align-items: center;
        // background-color: #4158D0;
        // background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
        background: #833ab4;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to top, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to top, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        // @include breakpoint-up(small){
        //     width: 90%;
        //     border: 3px solid green;
        //     margin: auto;
        // }
        @include breakpoint-up(medium){
            width: 60%;
            margin: auto;
        }
        @include breakpoint-up(large){
            width: 35%;
            margin: auto;
        }

        top: 50%;
        transform: translate(0, 10%);
        color: white;
        border-radius: 10px;
        padding: 25px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

        &-form{
            width: 80%;
            padding: 0.3125em;
        }

        &-btn{
            width: 95%;
            // background-color: white;
            padding: 15px;
            Button{
                width: 100%;
                &:hover{
                    background-color: lightskyblue;
                    color: black;
                }
            }
        }

        &-signup{
            padding: 0.3125em;
        }
    }
}