.navigation{
    flex-flow: row nowrap;
    align-items: center;

    // &-btn{
        
    // }

    &-input{
        display: none;
    }

    .flex-containers{
        align-items: center;
        width: 25%;
    }
}

.alertBox{
    z-index: 4;
}
