.navigation {
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 10px;
  border-bottom: 1px solid rgb(209, 206, 206);

  &-input {
    display: none;
  }
}
